<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Market Analyzer</title>
    <!-- Imports necessary files --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <!-- Top navbar --> 
    <nav class="navbar">
        <h2 class="navbar-title">Effective Stock Finder</h2>
        <div class="navbar-buttons">
            <!-- Button to toggle between light and dark modes --> 

        </div>
    </nav>
    <div class="content">
        <!-- Button that sends you to a new page that displays current best stock to buy --> 
        <form id="stock_rec" action="/best_stock" method="get">
            <button type="submit" id="rec-button" class="btn btn-primary">Get Current Best Stock to Buy</button>
        </form>            
    </div>

    <div class="indexes" id="indexes">
        <!-- Displays indexes and changes colors and symbols based on the position of the index in last 3 days--> 
        {% for index in indexes %}
            {% if index.percentage_change|float > 0 %}
                <div class="index" id="plus-index">
            {% elif index.percentage_change|float < 0 %}
                <div class="index" id="minus-index">
            {% else %}
                <div class="index" id="no-change-index">
            {% endif %}
                <div class="stock-short-name"><b>{{ index.short_name }}</b></div>
                <div class="stock-price">{{ index.price }}</div>
                <div class="stock-row">
                    <div>🇭 150</div> <!-- Today's highest price   -->
                        {% if index.percentage_change|float > 0 %}
                        <div class="stock-row-percent-change">
                            {{ index.percentage_change }}% <span class="up-arrow">&#9650;</span>
                        {% elif index.percentage_change|float < 0 %}
                        <div class="stock-row-percent-change">
                            {{ index.percentage_change }}% <span class="down-arrow">&#9660;</span>
                        {% else %}
                        <div class="stock-row-percent-change">
                            {{ index.percentage_change }}% <span class="no-movement-symbol">-</span>
                        {% endif %}
                        </div>
                    </div>
                <div class="stock-row">
                    <div>🇱 110</div> <!-- Todays' lowest price   -->
                    {% if index.percentage_change|float > 0 %}
                    <div class="stock-row-percent-change">
                        ${{ index.price_change }} <span class="up-arrow">&#9650;</span>
                    {% elif index.percentage_change|float < 0 %}
                    <div class="stock-row-percent-change">
                        ${{ index.price_change }} <span class="down-arrow">&#9660;</span>
                    {% else %}
                    <div class="stock-row-percent-change">
                        ${{ index.price_change }} <span class="no-movement-symbol">-</span>
                    {% endif %}
                    </div>
                </div>
                </div>
        {% endfor %}
    </div>

    <div class="stocks" id="stocks">
        <!-- Displays stocks and changes colors and symbols based on the position of the stock in last 3 days--> 
        {% for variable in variables %}
            {% if variable.percentage_change|float > 0 %}
                <div class="stock" id="plus-stock">
            {% elif variable.percentage_change|float < 0 %}
                <div class="stock" id="minus-stock">
            {% else %}
                <div class="stock" id="no-change-stock">
            {% endif %}
                    <div class="stock-short-name"><b>{{ variable.short_name }}</b></div>
                    <div class="stock-price">{{ variable.price }}</div>
            
                    <div class="stock-row">
                        <div>🇭 150</div> <!-- Today's highest price   -->
                            {% if variable.percentage_change|float > 0 %}
                            <div class="stock-row-percent-change">
                                {{ variable.percentage_change }}% <span class="up-arrow">&#9650;</span>
                            {% elif variable.percentage_change|float < 0 %}
                            <div class="stock-row-percent-change">
                                {{ variable.percentage_change }}% <span class="down-arrow">&#9660;</span>
                            {% else %}
                            <div class="stock-row-percent-change">
                                {{ variable.percentage_change }}%<span class="no-movement-symbol">-</span>
                            {% endif %}
                            </div>
                        </div>
                    <div class="stock-row">
                        <div>🇱 110 </div> <!-- Today's lowest price   -->
                        {% if variable.percentage_change|float > 0 %}
                        <div class="stock-row-percent-change">
                            ${{ variable.price_change }} <span class="up-arrow">&#9650;</span>
                        {% elif variable.percentage_change|float < 0 %}
                        <div class="stock-row-percent-change">
                            ${{ variable.price_change }} <span class="down-arrow">&#9660;</span>
                        {% else %}
                        <div class="stock-row-percent-change">
                            ${{ variable.price_change }} <span class="no-movement-symbol">-</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

</body>
</html>